.page-title {
    text-align: center;
    margin: 30px 40% 0 40%;
    font-size: 24px;
    padding: 15px;
    background-color: $color-primary;
    border-radius: 5px;
}

.cart-table {

    table {
        margin: 0 auto;
        margin-top: 20px;
        padding: 15px;
        background-color: $color-primary;
        border-radius: 5px;
        border: 1px $color-font solid;

        td {
            text-align: center;
        }
    }
}

.user-info {
    text-align: center;
    margin-top: 20px;

    input,
    textarea {
        margin-bottom: 10px;
        width: 200px;
        margin-right: 10px;
        background-color: $color-backrgound;
        border-radius: 5px;
        border: 1px $color-font solid;
        padding: 5px;
    }
}

.button-div {
    text-align: center;
    margin: 20px auto;
}