@font-face{
    font-family: "gotham";
    src: url(./font/Gotham-Book.otf);
    font-weight: normal;
}
@font-face{
    font-family: "gotham";
    src: url(./font/Gotham-Medium.otf);
    font-weight: 500;
}
@font-face{
    font-family: "montserrat";
    src: url(./font/montserrat.regular.ttf);
    font-weight: 400;
}

body{
    margin: 0;
    font-family: gotham;
    position: relative;
}
.page{
    min-height: 65.9vh;
    margin-top: 10em;
}
a{
    text-decoration: none; color: black;
}
.header{
    width: 100%; height: 90px; background-color: rgb(0, 0, 0); padding: 10px 0px; display: flex; flex-direction: column; justify-content: center;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.432); margin-bottom: 80px; position: fixed; top: 0; z-index: 99;
}
.title{
    color: white; display: inline; font-size: 20px; margin-left: 20px; font-family: montserrat;
}
.nav{
    float: right; margin-right: 20px; color: white; text-decoration: none; margin-top: 5px;
}
.nav a{
    color: white; text-decoration: none; margin: 0px 10px; text-transform: uppercase; padding: 5px 0px;
}
.nav .active{
    font-weight: 500; border-bottom: 2px solid white;
}
.footer{
    width: 100%; height: 80px; display: flex; align-items: center; font-size: 14px; justify-content: center;
    background-color: black; color: white; box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.432);
    margin-top: 50px;
}
.login{
    text-align: center; width: 400px; height: 400px; border: 2px solid black; margin: 0px auto; display: flex; align-items: center;
    justify-content: center; border-radius: 30px;
}
.home{
    text-align: center;
}
.products{
    width: 100%; height: auto; display: flex; justify-content: center; margin-top: 20px; flex-wrap: wrap;
}
.card{
    width: 250px; height: 350px; border: 1px solid rgb(194, 191, 191); margin: 20px 10px; padding: 15px 15px; text-align: left;
    display: flex; flex-direction: column; position: relative;
}
.card-name{
    font-size: 16px; margin: 5px 0px; font-weight: 500; font-family: gotham; min-height: 57px;
}
.card-name:hover{
    text-decoration: underline;
}
.card-price{
    font-size: 15px; color: grey;
}
.login h3, .register h3{
    font-size: 27px; margin-top: 0px;
}
.login form input, .register form input{
    width: 200px; height: 20px; padding: 10px 10px; font-size: 15px; margin-top: 10px; margin-bottom: 10px; border-radius: 10px;
}
.login form button, .register form button{
    width: 225px; height: 45px; padding: 10px 10px; font-size: 15px; margin-top: 10px; margin-bottom: 10px; border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.897); color: white;
}
.login form button:hover, .register form button:hover, .btn-edit:hover, .btn-delete:hover, .add-product form button:hover, .edit-product form button:hover{
    cursor: pointer;
}
.product{
    width: 100%;
}
.product-content{
    width: 90%; display: flex; margin: 0px auto;
}
.product-image, .product-details{
    padding: 20px 20px;
}
.product-name h2{
    margin-top: 0; font-size: 23px; margin-bottom: 30px;
}
.product-price{
    margin-bottom: 30px; font-size: 30px; font-family: montserrat; color: goldenrod;
}
.product-stock{
    font-size: 18px
}